html{
    font-size:15px; color:#000; font-family:verdana, arial, san-serif;
background-color:#F0FFFF;
margin-top: 8%;
margin-left: 8%;
margin-bottom: 7%;
margin-right: 10%}
H1 {text-align: center;}
H2 {margin-left: 20px;}
img {max-width: 650px; max-height: 650px;
margin-left: 20%}
Comentários {margin-left: 80%;}